.cell {
	width: 100px;
	height: 100px;
	display: grid;
	place-content: center;
	aspect-ratio: 1 / 1;
	color: hsl(var(--clr-white-hsl) / 0.5);
	text-align: center;
	text-shadow: 0px 4px 4px hsl(var(--clr-black-hsl) / 0.15);
	font-family: Nunito;
	font-size: 50px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	text-transform: uppercase;
	padding: .85rem 1.75rem;
	background: var(--clr-incorrect);
	border-radius: 1.25rem;
	border: 0;
	box-shadow: inset 0px 0px 0px 5px hsl(var(--clr-black-hsl) / 0.15);
}

.correct {
	color: hsl(var(--clr-black-hsl) / 0.350);
	background: var(--clr-correct);
}

.incorrect {
	background: var(--clr-incorrect);
}

.misplaced {
	color: hsl(var(--clr-black-hsl) / 0.350);
	background: var(--clr-misplaced);
}
