.cell {
	position: relative;
	display: grid;
	place-content: center;
	width: 4rem;
	height: 4rem;
	aspect-ratio: 1 / 1;
	padding: .85rem 1.75rem;
	font-size: 2rem;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	color: hsl(var(--clr-white-hsl) / 50%);
	text-align: center;
	text-shadow: 0 4px 4px hsl(var(--clr-black-hsl) / 15%);
	text-transform: uppercase;
	background: var(--clr-incorrect);
	border: 0;
	border-radius: 1.25rem;
	box-shadow: inset 0 0 0 5px hsl(var(--clr-black-hsl) / 15%);
	transform: rotateY(180deg);
	backface-visibility: hidden;
	perspective: 1000px;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000px;
	-webkit-transform-style: preserve-3d;
	will-change: transform;
}

.cell::before {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	color: transparent;
	content:'';
	background: var(--clr-incorrect);
	border-radius: 1.25rem;
	box-shadow: inset 0 0 0 5px hsl(var(--clr-black-hsl) / 15%);
	transform: rotateY(180deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.correct {
	color: hsl(var(--clr-black-hsl) / 35%);
	background: var(--clr-correct);
}

.incorrect {
	background: var(--clr-incorrect);
}

.misplaced {
	color: hsl(var(--clr-black-hsl) / 35%);
	background: var(--clr-misplaced);
}

.validated {
	transition: transform 1s ease-in-out;
	transform: rotateY(0deg);
}
