.form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	margin: 1rem;
}

.label {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	color: hsl(var(--clr-white-hsl) / 0.5);
	gap:1rem;
}

.input {
	border-radius: 30px;
	padding: 1rem 1.5rem;
	color: hsl(var(--clr-white-hsl)/0.5);
	text-transform: uppercase;
	background: var(--clr-incorrect);
	box-shadow: inset 0px 0px 0px 5px hsl(var(--clr-black-hsl) / 0.15);
	border: 0;
	outline: 0;
}

.input:focus-visible {
	outline: 2px solid var(--clr-focus);
}

.input::placeholder {
	color: hsl(var(--clr-white-hsl) / 0.250);
	text-transform: uppercase;
}
