.form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	margin: 1rem;
}

.label {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	color: rgba(255, 255, 255, 0.500);
	gap:1rem;
}

.input {
	border-radius: 30px;
	padding: 1rem 1.5rem;
	color: rgba(255, 255, 255, 0.500);
	text-transform: uppercase;
	background: linear-gradient(135deg, #2D3047 0%, #48495F 100%);
	box-shadow: inset 0px 0px 0px 5px rgba(0, 0, 0, 0.15);
	border: 0;
	outline: 0;
}

.input:focus-visible {
	outline: 2px solid #3498db;
}

.input::placeholder {
	color: rgba(255, 255, 255, 0.250);
	text-transform: uppercase;
}
